@use './variables.module' as v;


.mainContainer {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: v.$footerContainerHeight;
    margin: 0 32px;
}


@media screen and (max-width:v.$mq) {
    .mainContainer {
        margin: 0 24px;
    }
}