@use './variables.module' as v;

.pagenationContainer {
    margin: 32px 0;
    text-align: center;

    .pagenationLists {
        display: flex;
        justify-content: center;

        .pagenationItem {
            font-size: 1.6rem;
            margin: 0 8px;
            width: 24px;
        }

        a {
            display: block;
        }

        .currentPage {
            border-bottom: 2px solid;
            padding: 0 0 4px 0;
            width: 24px;
        }
    }
}