@use './variables.module' as v;

.article__h2 {
    position: absolute;
    left: 0;
    top: 40%;
}

.articleContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 728px;
    min-width: v.$min-width;
    margin: 0 auto 300px;
    position: relative;

    .article__about {
        text-align: center;
        margin-bottom: 48px;
        font-size: 1.2rem;
    }

    .articleWrapper {
        margin-bottom: 40px;
        display: inline-block;
        padding-left: 160px;
        
        .articleLink {
            display: inline-flex;
            flex-direction: column;
            transition: all .2s ease-in;
            width: 100%;
            
            p {
                display: inline-flex;
                flex-direction: column;
            }

            &:hover {
                margin-left: 16px;
                width: 100%;
            }

            .articleTitle {
                margin-bottom: 8px;
            }

            .postedDate {
                text-align: right;
            }
        }
    }
}


@media screen and (max-width:v.$mq) {
    .articleContainer {
        padding: 0 24px;

        .articleWrapper {
            padding-left: 0;
        }
    }
}