@use './variables.module' as v;


.about__h2 {
    position: absolute;
    left: 0;
    top: 40%;
}

.aboutContainer {
    width: 100%;
    max-width: 768px;
    min-width: v.$min-width;
    margin: 0 auto 300px;
    position: relative;

    .aboutVisual {
        position: relative;
        display: flex;
        margin-bottom: 80px;

        .names {
            margin-right: 32px;
            .profile__name {
                font-size: 4rem;
                margin-bottom: 8px;
            }

            .profile__baseIn {
                margin-bottom: 20px;
                text-align: right;
            }

            .profile__iam {
                margin-bottom: 20px;
                text-align: right;
                word-break: keep-all;
            }

            .profle__snsList {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                li {
                    margin-bottom: 16px;
                    text-align: right;
                    a:hover {
                        color: v.$c-white;
                    }
                }
            }
        }

        .profile__img {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);

            &:hover {
                cursor: pointer;
                -webkit-filter: grayscale(0%);
                -moz-filter: grayscale(0%);
                -ms-filter: grayscale(0%);
                -o-filter: grayscale(0%);
                filter: grayscale(0%);
            }
        }
    }

    .line {
        width: 60px;
        height: 1px;
        background-color: v.$c-primary;
        margin: auto;
        margin-bottom: 80px;
    }

    $headWidth: 26%;
    .profile__head {
        font-size: 1.4rem;
        margin: 16px 0 16px;
        width: $headWidth;

    }

    .profile__motto {
        display: flex;
        align-items: baseline;
        width: 100%;
        margin-bottom: 80px;

        &__detail {
            max-width: 500px;
            width: calc( 100% - $headWidth );

            li {
                margin-bottom: 16px;
            }
        }
    }

    .profile__detail {
        display: flex;
        align-items: baseline;
        margin-bottom: 80px;

        .profile__detail__wrapper {
            max-width: 500px;
            width: calc( 100% - $headWidth );
        }

        &__item {
            line-height: 1.6;
            margin-bottom: 24px;
        }
    }

    
}

@media screen and (max-width:v.$mq) {
    .aboutContainer {
        padding: 0 24px;

        .aboutVisual {
            flex-direction: column-reverse;

            .names {
                margin: 32px auto;
    
                .profile__baseIn {
                    text-align: left;
                }

                .profile__iam {
                    text-align: left;
                }

                .profle__snsList {
                    li {
                        text-align: left;
                    }
                }
            }
        }

        .profile__head {
            width: 100%;
        }

        .profile__motto {
            flex-direction: column;

            &__detail {
                width: 100%;
            }
        }

        .profile__detail {
            flex-direction: column;

            .profile__detail__wrapper {
                width: 100%;
            }
        }
    } // .aboutContainer
}