@use './variables.module' as v;

.article__h2 {
    position: absolute;
    left: 0;
    top: 40%;
}

.articleContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    min-width: v.$min-width;
    margin: auto;
    position: relative;

    .articleWrapper {
        margin-bottom: 40px;
        display: inline-block;
        padding-left: 200px;
        
        .articleLink {
            display: inline-flex;
            flex-direction: column;
            transition: all .2s ease-in;
            width: 100%;
            
            p {
                display: inline-flex;
                flex-direction: column;
            }

            &:hover {
                margin-left: 16px;
                width: 100%;
            }

            .articleTitle {
            }

            .postedDate {
            }
        }
    }
}