@use './variables.module' as v;

.projects {
    position: relative;
    margin: 150px 0 100px;
    padding: 150px 0;
    overflow: hidden;

    &__h2 {
        position: absolute;
        top: 40%;
        left: 0;
    }

    &__h3 {
        margin-bottom: 60px;
        font-size: 1.6rem;
        font-weight: 500;
        text-align: center;
    }

    &__ceparate {
        text-align: center;
        font-size: 2rem;
    }

    &__mainContents {
        display: flex;
        flex-direction: column;

        .projects__globalCaption {
            margin-bottom: 32px;
            padding-left: 40%;

            p {
                line-height: 1.6;
            }
        }

        .projects__genreContainer {
            margin-bottom: 160px;
            position: relative;

            .projects__genreTitle {
                font-weight: bold;
                margin-bottom: 32px;
                padding-left: 40%;
            }

            .projects__bgTitle {
                position: absolute;
                font-size: 30rem;
                opacity: .1;

                &:before {
                    content: attr(data-title);
                    padding-right: 0.375em;
                }
                &:after {
                    content: attr(data-title);
                    padding-left: 0.375em;
                }
            }

            .projects__bgTitleMarquee {
                display: table;
                white-space: nowrap;
                animation: bgTitleMarquee 50s linear infinite;
                pointer-events: none;
                will-change: transform;
                z-index: -1;
            }

            ul {
                padding-left: 40%;

                li {
                    margin-bottom: 40px;
                    position: relative;
                }
            }

            .projects__name {
                font-size: 2.4rem;
                margin-bottom: 16px;
            }

            .projects__num:before {
                content: '';
                font-size: 1.6rem;
                position: absolute;
                top: -10px;
                left: -20px;
            }

            .projects__num1:before {
                content: '01';
            }

            .projects__num2:before {
                content: '02';
            }

            .projects__num3:before {
                content: '03';
            }

            .projects__pjCaption {
                line-height: 1.6;
            }

            .projects__circleTop {
                margin-bottom: 64px;
                padding-left: 40%;
            }

            .projects__circle {
                &__join {
                    margin-bottom: 40px;
                    padding-left: 40%;
                }

                &__distribution {
                    display: flex;

                    ul {
                        display: flex;
                        margin-left: 24px;
                        padding-left: 0;

                        li {
                            padding-right: 24px;
                        }
                    }
                }
            }
        } // .projects__genreContainer
    }
}


@keyframes bgTitleMarquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform:  translate3d( calc((-100% / 3) - 0.125em), 0, 0 );
    }
}