@use './variables.module' as v;

.topMarquee {
    height: 100%;
    width: 100vw;
    margin: 0 calc(-50vw + 50%) 0;


    &__inner {
        --wd: 70vw;
        --d: 7s;
        margin: 2rem 0;
        overflow: hidden;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__content {
        display: inline-block;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 4s linear infinite;
        animation-play-state: running;
        font-size: 16rem;
    }
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}