// width
$max-width: 1280px;
$min-width: 375px;


// color
$c-black: #121212;
$c-primary: #DC7A7D;


// font
$f-family: 'Hoefler Text', --apple-system, "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Sans",Meiryo, sans-serif;