// width
$max-width: 1280px;
$min-width: 375px;


// color
$c-black: #121212;
$c-white: #ffefef;
$c-primary: #DC7A7D;
$c-primary-comple: #7adcd9;
$c-green: #2e9173;


// font
$f-family: 'Hoefler Text', --apple-system, "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Sans",Meiryo, sans-serif;


// headerHeight
$headerHeight: 178px;

// footerHeight
$footerContainerHeight: 335px;